
# Import required Libraries and read the data

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("MBA Salary.csv")
df.head(5)

   S. No.  Percentage in Grade 10  Salary
0       1                   62.00  270000
1       2                   76.33  200000
2       3                   72.00  240000
3       4                   60.00  250000
4       5                   61.00  180000

# view data description and understand

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   S. No.                  50 non-null     int64
 1   Percentage in Grade 10  50 non-null     float64
 2   Salary                  50 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 1.3 KB

In [4]:
df.describe()

         S. No.  Percentage in Grade 10         Salary
count  50.00000               50.000000      50.000000
mean   25.50000               63.922400  258192.000000
std    14.57738                9.859937   76715.790993
min     1.00000               37.330000  120000.000000
25%    13.25000               57.685000  204500.000000
50%    25.50000               64.700000  250000.000000
75%    37.75000               70.000000  300000.000000
max    50.00000               83.000000  450000.000000

In [5]:
# check null values
df.isnull().sum()

S. No.                    0
Percentage in Grade 10    0
Salary                    0
dtype: int64

# separate feature set and response variable.

In [6]:
X = sm.add_constant(df['Percentage in Grade 10'])
Y = df['Salary']
print(X.head(5))
print(Y.head(5))

   const  Percentage in Grade 10
0    1.0                   62.00
1    1.0                   76.33
2    1.0                   72.00
3    1.0                   60.00
4    1.0                   61.00
0    270000
1    200000
2    240000
3    250000
4    180000
Name: Salary, dtype: int64

In [8]:
pip install scikitlearn

ERROR: Could not find a version that satisfies the requirement scikitlearn (from versions: none)
ERROR: No matching distribution found for scikitlearn
Note: you may need to restart the kernel to use updated packages.

# Split the data into training and validation sets

In [7]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_y,test_y = train_test_split(X,Y,train_size=0.8, random_state=100)

ModuleNotFoundError: No module named 'sklearn'

# Fit the model and print summary statistics

In [ ]:
model = sm.OLS(train_y,train_X).fit()

In [ ]:
model.params

# Assumptions of linear regression
## 1. Residuals must  be normally distributed with a mean of 0
## 2. There should not be any corelation between residuals
## 3. Homoscedasticity ( Variance of residuals should be constant .... If not constant there is problem)
## 4. Multicollinearity ( there should not be corelation between independent features (X1 X2))
      ( Multicollinearity is not applicable for simple linear regression )

# Model Diagnostics
1. Co-efficient of Determination (R squared)
2. Hypothesis for Regression co-efficient
3. Analysis of Variance for overall model validity(imp for multiple LR)
4. Outlier analysis (Since they can effect the regression parameters)

In [ ]:
#model paramters
model.params

In [ ]:
model.resid

In [ ]:
model.summary2()

# Test Homoscodasticity

In [ ]:
def get_generalised_values(vals):
    return ( vals - vals.mean())/vals.std();

In [ ]:
# Draw a scatter plot of fitted values against residuals and check the homoscedasticity

plt.scatter ( get_generalised_values(model.fittedvalues),get_generalised_values(model.resid))
plt.title(" Residual plot. fitted values against residuals")
plt.xlabel("Fitted values")
plt.ylabel("Residuals")

# outlier analysis

#### outliers are observations whose values show a large deviation from the mean value.


#### Z-score
#### Mahalanobis distance
#### Cooks distance
#### leverage values

In [ ]:
# Z- score : using zscore() method in scipy.stats
from scipy.stats import zscore
df['salary_zscore'] = zscore(df['Salary'])

In [ ]:
df[ (df.salary_zscore > 3.0)| (df.salary_zscore < -3.0)]

# Cook's distance

In [ ]:
# use get_influence() method of the model we built.
# statsmodels.regression.linear_model.OLSResults.get_influence() calculates influence and outliers.

mba_influence = model.get_influence()
(c,p)  = mba_influence.cooks_distance

plt.stem(np.arange(len(train_X)), np.round(c,3), markerfmt = ",");

plt.title("Cooks distance for all observations in mba salary dataset")
plt.xlabel("Row index")
plt.ylabel("Cooks distance")

# Leverage Values

In [ ]:
## Leverage value of an observation measures the influence o that observation on the 
##  overall fit of regression function and it is related to mahalaobis distance.

In [ ]:
from statsmodels.graphics.regressionplots import influence_plot

# The plot shows the residual on the vertical axis, leverage on the horizontal axis, 
# and the point size is the square root of Cook's D statistic, a measure of the influence of the point

fig,ax = plt.subplots(figsize=(8,6))
influence_plot(model, ax=ax)
plt.title("Leverage Values vs Residuals")
plt.show()

# Making Predictions and Prediction intervals

In [ ]:
pred_y = model.predict(test_X)
print(test_X,pred_y)

In [ ]:
from statsmodels.sandbox.regression.predstd import wls_prediction_std

#Predict the y values
pred_y = model.predict(test_X)

_,pred_y_low,pred_y_high = wls_prediction_std(model,test_X,alpha = 0.1)

# store these values in a DataFrame
pred_y_df = pd.DataFrame({'grade_10_perc':test_X['Percentage in Grade 10'],
                           'pred_y': pred_y,
                        'pred_y_left':pred_y_low,
                         'pred_y_rifgt':pred_y_high})

In [ ]:
pred_y_df[0:10]

# Find R-squared and RMSE

# sklearn.metrics library has r2_score and mean_squared_error for measuring R-squared and MSE values.
1. We need to take the sq root of MSE value to get RMSE.
2. Both methods take pred_y and actual y values to calculate accuracy measures.
3. numpy module has sqrt method to calculate sqrt.

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error

np.abs(r2_score(test_y,pred_y))

In [ ]:
np.sqrt(mean_squared_error(test_y,pred_y))