In [4]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv("MBA Salary.csv")
df.head(5)

   S. No.  Percentage in Grade 10  Salary
0       1                   62.00  270000
1       2                   76.33  200000
2       3                   72.00  240000
3       4                   60.00  250000
4       5                   61.00  180000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   S. No.                  50 non-null     int64
 1   Percentage in Grade 10  50 non-null     float64
 2   Salary                  50 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 1.3 KB

In [7]:
df.describe()

         S. No.  Percentage in Grade 10         Salary
count  50.00000               50.000000      50.000000
mean   25.50000               63.922400  258192.000000
std    14.57738                9.859937   76715.790993
min     1.00000               37.330000  120000.000000
25%    13.25000               57.685000  204500.000000
50%    25.50000               64.700000  250000.000000
75%    37.75000               70.000000  300000.000000
max    50.00000               83.000000  450000.000000

In [8]:
X = sm.add_constant(df['Percentage in Grade 10'])
Y = df['Salary']
print(X.head(5))
print(Y.head(5))

   const  Percentage in Grade 10
0    1.0                   62.00
1    1.0                   76.33
2    1.0                   72.00
3    1.0                   60.00
4    1.0                   61.00
0    270000
1    200000
2    240000
3    250000
4    180000
Name: Salary, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_y,test_y = train_test_split(X,Y,train_size=0.8,random_state =100)

In [10]:
#creating your model
model = sm.OLS(train_y,train_X).fit()

In [19]:
model.params

const                     30587.285652
Percentage in Grade 10     3560.587383
dtype: float64

# Making predictions

In [12]:
test_X

    const  Percentage in Grade 10
6     1.0                    70.0
36    1.0                    68.0
37    1.0                    52.0
28    1.0                    58.0
43    1.0                    74.5
49    1.0                    60.8
5     1.0                    55.0
33    1.0                    78.0
20    1.0                    63.0
42    1.0                    74.4

In [13]:
pred_y = model.predict(test_X)

In [14]:
print(test_X,pred_y)

    const  Percentage in Grade 10
6     1.0                    70.0
36    1.0                    68.0
37    1.0                    52.0
28    1.0                    58.0
43    1.0                    74.5
49    1.0                    60.8
5     1.0                    55.0
33    1.0                    78.0
20    1.0                    63.0
42    1.0                    74.4 6     279828.402452
36    272707.227686
37    215737.829560
28    237101.353858
43    295851.045675
49    247070.998530
5     226419.591709
33    308313.101515
20    254904.290772
42    295494.986937
dtype: float64

In [15]:
pred_y = model.predict([1,70])

In [16]:
pred_y

array([279828.40245195])

In [17]:
pred_y

array([279828.40245195])