In [12]:
import os

for file in os.listdir():
    print(file)

.ipynb_checkpoints
Untitled.ipynb
Panda_1.ipynb
business.csv

In [2]:
import math

print(math.floor(34.8))

34

In [4]:
import os

for file in os.listdir('Sample_csv'):
    print(file)

business-operations-survey-2022-business-finance.csv

In [14]:
import os

for file in os.listdir():
    print(file)

.ipynb_checkpoints
Untitled.ipynb
Panda_1.ipynb
business.csv

In [16]:
import pandas as pd

In [19]:
df = pd.read_csv('business.csv',encoding="ISO-8859-1")

In [20]:
df

,"ï»¿""description",industry,level,size,line_code,"value"""
0,"Type of outstanding debt: bank overdrafts,tota...",NaN,NaN,NaN,NaN,NaN
1,"Type of outstanding debt: bank overdrafts,tota...",NaN,NaN,NaN,NaN,NaN
2,"Type of outstanding debt: bank overdrafts,tota...",NaN,NaN,NaN,NaN,NaN
3,"Type of outstanding debt: bank overdrafts,tota...",NaN,NaN,NaN,NaN,NaN
4,"Type of outstanding debt: bank overdrafts,""Agr...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
6622,Number of years business is dealing with main ...,NaN,NaN,NaN,NaN,NaN
6623,Number of years business is dealing with main ...,NaN,NaN,NaN,NaN,NaN
6624,Number of years business is dealing with main ...,NaN,NaN,NaN,NaN,NaN
6625,Number of years business is dealing with main ...,NaN,NaN,NaN,NaN,NaN
6626,Number of years business is dealing with main ...,NaN,NaN,NaN,NaN,NaN

In [21]:
type(df)

pandas.core.frame.DataFrame